data/exports/graphml/*
data/exports/gtfs/*
data/exports/img/*
data/exports/json/*
src/notebooks/.ipynb_checkpoints
src/notebooks/cache
archives/data/
archives/manhattan/
archives/notebooks/.ipynb_checkpoints/
archives/notebooks/cache
